extends layout.pug


block content
    h1 Books
    form(action="/login" method="post")
        div(class="form-group")
            label(for="inputUsername") Login
            input(type="text", class="form-control", id="inputUsername", placeholder="Nutzername", name="username")
        div(class="form-group")
            label(for="inputPassword") Password
            input(type="password", class="form-control", id="inputPassword" placeholder="Passwort", name="password")
        div(class="form-group")
            button(type="submit", class="btn btn-primary") Login
      
    if login_error
        div(class="alert alert-danger" role="alert") #{login_error}
        
        
        
    a(class="btn btn-secondary" href="/register" role="button") Register
        