extends layout.pug


block content
    h1 Einkaufsliste
    
    form(action="/register" method="post")
        div(class="form-group")
            label(for="inputUsername") Username
            input(type="text", class="form-control", id="inputUsername", placeholder="Nutzername", name="username")
        div(class="form-group")
            label(for="inputPassword") Password
            input(type="password", class="form-control", id="inputPassword" placeholder="Passwort", name="password")
        div(class="form-group")
            button(type="submit", class="btn btn-primary") Register
      
    if register_error
        div(class="alert alert-danger" role="alert") #{register_error}