
extends layout.pug

block navbar
    img(src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" width="30" height="30" class="d-inline-block align-top mx-2" alt="")
    span(class="navbar-text text-white ") #{username}


block content
   
    form(action="/search/result" method="post" class="my-4 mx-3")
        label(for="sel1" class="mr-3") Options:

        div(class="row")

            div(class="form-group")
                select(class="form-control" id="sel1" name="mode")
                    option isbn
                    option author
                    option title
           
            input(type="search", class="form-control col mx-1", id="inputSearch", placeholder="Title", name="search", aria-label="Title")
            button(type="submit", class="btn btn-outline-success col-md-2 mx-1") Search
    if search_error
        div(class="alert alert-danger" role="alert") #{search_error}
   
 
            

