extends layout.pug

block title
    title Einkaufsliste

block content


    h1 Einkaufsliste


    ui(class="list-group")
        each item in list
            li(class="list-group-item") 
                a(href="/book/"+item.isbn) "#{item.title}" - #{item.author}, #{item.year}
            
    