
extends layout.pug

block navbar
    img(src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" width="30" height="30" class="d-inline-block align-top mx-2" alt="")
    span(class="navbar-text text-white ") #{username}


block content

    form(action="/search/isbn" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="ISBN", name="search", aria-label="ISBN")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    form(action="/search/author" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="Author", name="search", aria-label="Author")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    form(action="/search/title" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="Title", name="search", aria-label="Title")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    if search_error
        div(class="alert alert-danger" role="alert") #{search_error}