extends layout.pug

block navbar
    img(src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" width="30" height="30" class="d-inline-block align-top mx-2" alt="")
    span(class="navbar-text text-white ") #{username}

block title
    title Einkaufsliste

block content


    h1 Einkaufsliste


    ui(class="list-group")
        each item in list
            li(class="list-group-item") 
                a(href="/book/"+item.isbn) "#{item.title}" - #{item.author}, #{item.year}
            
    