extends layout.pug


block content

    form(action="/search/isbn" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="ISBN", name="search", aria-label="ISBN")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    form(action="/search/author" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="Author", name="search", aria-label="Author")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    form(action="/search/title" method="post" class=" my-4 text-center")
           
            input(type="search", class="form-control", id="inputSearch", placeholder="Title", name="search", aria-label="Title")
            button(type="submit", class="btn btn-outline-success my-2") Search
    
    if search_error
        div(class="alert alert-danger" role="alert") #{search_error}